segungo_trimestre/ejercicios_xml/ejercicio4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="datosDni">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="numeroDni" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="numero"></xs:element>
                        <xs:element name="nombrePersona"></xs:element>
                        <xs:element name="apellidos"></xs:element>
                        <xs:element name="sexo"></xs:element>
                        <xs:element name="nacionalidad"></xs:element>
                        <xs:element name="fechaVencimientoDni"></xs:element>
                        <xs:element name="fecghaNac"></xs:element>
                        <xs:element name="nombrePadre"></xs:element>
                        <xs:element name="nombreMadre"></xs:element>
                        <xs:element name="numeroCan"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>