segungo_trimestre/ejercicios_xml/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datosTarjetaCredito">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombreTitular" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="numeroTarjeta">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="fechaCaducidad" type="xs:string" />
                                        <xs:element name="codigoSeguridad" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>